<html>
        <head>
                <title>Adaptive Web Development</title>
        </head>
        <body>
                <h2><TMPL_VAR TITLE></h2>
                <table border="1" width="80%" cellpsdding="15px" cellspacing="0">
                        <thead>
                                <th>Name</th>
                                <th>Roll No.</th>
                                <th>Date of Birth</th>
                        </thead>
                        <tbody>
                                <TMPL_LOOP STUDENT_INFO>
                                        <tr>
                                                <td><TMPL_VAR NAME></td>
                                                <td><TMPL_VAR ROLL_NO></td>
                                                <td><TMPL_VAR DOB></td>
                                        </tr>
                                </TMPL_LOOP>      
                        </tbody>                        
                </table>
                       
        </body>
</html>